<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dell.navid.com.calculator" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/calx"
        android:label="NNCalculator"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Calx" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GuessActivity"
            android:label="Guess Number Game!" >
        </activity>
    </application>

</manifest>
